@import "tailwindcss";

@theme {
  --font-sans: var(--font-rubik);
  --font-open-sans: var(--font-open-sans);
  --font-inter: var(--font-inter);

  --color-dark: var(--foreground);
  --color-white: #ffffff;
  --color-light-gray: #FAFAFA;
  --color-gray: var(--background);
  --color-blue: #4A69E2;
  --color-yellow: #FFA52F;

}

:root {
  --background: #E7E7E3;
  --foreground: #232321;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
}

@layer utility {
  .layout_container {
    @apply w-full pt-8 lg:pt-8 min-h-screen;
  }

  .page_container {
    @apply w-full h-full flex flex-col gap-6 lg:gap-10 py-6 lg:py-10;
  }

  .section_container {
    @apply w-full h-full max-w-[1440px] mx-auto px-4 lg:px-[60px];
  }




  .header_wrapper {
    @apply bg-light-gray text-dark p-4 rounded-xl flex items-center justify-between;
  }

  .animate-slide-up {
    animation: slide-up 0.5s ease-out forwards;
  }

  .animate-fade-in {
    animation: fade-in 0.6s ease-out forwards;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}