@import "tailwindcss";

@theme {
  --font-sans: var(--font-rubik);
  --font-open-sans: var(--font-open-sans);
  --font-inter: var(--font-inter);

  --color-dark: var(--foreground);
  --color-white: #ffffff;
  --color-light-gray: #FAFAFA;
  --color-gray: var(--background);
  --color-blue: #4A69E2;
  --color-yellow: #FFA52F;

}

:root {
  --background: #E7E7E3;
  --foreground: #232321;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
}

@layer utility {
  .layout_container {
    @apply w-full max-w-[1440px] mx-auto px-4 lg:px-[60px] py-8 lg:py-8 min-h-screen;

  }

  .page_container {
    @apply w-full h-full flex flex-col gap-6 lg:gap-10 pt-6 lg:pt-10;
  }



  .header_wrapper {
    @apply bg-light-gray text-dark p-4 rounded-xl flex items-center justify-between;

  }

}