@import "tailwindcss";

@theme {
  --font-sans: var(--font-rubik);
  --font-open-sans: var(--font-open-sans);

  --color-dark: var(--foreground);
  --color-white: #ffffff;
  --color-gray: var(--background);
  --color-blue: #4A69E2;
  --color-yellow: #FFA52F;

}

:root {
  --background: #E7E7E3;
  --foreground: #232321;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik), sans-serif;
}